In [1]:
import pandas as pd

In [5]:
CA_df = pd.read_csv("CA/ca.csv")

In [8]:
CA_df["DATE"].head()

0    2017-09-28 18:13:25
1    2017-10-18 18:46:34
2    2017-09-29 06:58:50
3    2017-10-03 17:58:19
4    2017-10-25 21:09:49
Name: DATE, dtype: object

In [16]:
CA_df["DATE"] = pd.to_datetime(CA_df["DATE"], format="%Y-%m-%d %H:%M:%S")

In [18]:
CA_df.head()

,DATE,STATUS,QLANG,DEM_GENDER,DEM_AGE,DEM_ABOR,DEM_ABOR_TYPE,DEM_STDNT,DEM_VET,DEM_HEALTH,...,FENT_NMU_NTY,HYD_NMU_NTY,HYDM_NMU_NTY,METH_NMU_NTY,MORPH_NMU_NTY,OXY_NMU_NTY,OXYM_NMU_NTY,SUF_NMU_NTY,TAP_NMU_NTY,TRAM_NMU_NTY
0,2017-09-28 18:13:25,3,1,1,18,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-10-18 18:46:34,3,1,1,18,0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017-09-29 06:58:50,3,1,1,24,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017-10-03 17:58:19,3,1,1,16,0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-10-25 21:09:49,3,1,1,21,0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import numpy as np

In [25]:
CA_df.groupby("DEM_GENDER").agg(np.mean)

,STATUS,QLANG,DEM_AGE,DEM_ABOR,DEM_ABOR_TYPE,DEM_STDNT,DEM_VET,DEM_HEALTH,DEM_LOCATION,DEM_REGION,...,FENT_NMU_NTY,HYD_NMU_NTY,HYDM_NMU_NTY,METH_NMU_NTY,MORPH_NMU_NTY,OXY_NMU_NTY,OXYM_NMU_NTY,SUF_NMU_NTY,TAP_NMU_NTY,TRAM_NMU_NTY
DEM_GENDER,,,,,,,,,,,,,,,,,,,,,
1,3.0,1.325674,52.302697,0.054146,1.254613,0.076124,0.080120,0.027373,6.350450,2.795205,...,0.000599,0.001399,0.001598,0.001399,0.001598,0.001798,0.001199,0.000599,0.0004,0.001798
2,3.0,1.329068,49.078169,0.032387,1.388889,0.087765,0.011595,0.057577,6.355258,2.795682,...,0.000200,0.000600,0.001599,0.000600,0.001000,0.001399,0.000400,0.000000,0.0004,0.001399

In [35]:
CA_df["MENT_AUT"].mean()

0.012091535924852603

In [36]:
autism_df = CA_df.loc[CA_df["MENT_AUT"] == 1]

In [42]:
(autism_df["CAN_REC_USE"] != 1).mean()

0.4628099173553719

In [43]:
(CA_df["CAN_REC_USE"] != 1).mean()

0.3680423703407615

In [46]:
import seaborn as sns

In [48]:
nmu_columns = [col for col in CA_df.columns if col.endswith("_NMU")]

In [49]:
nmu_columns

['FENT_NMU',
 'BUP_NMU',
 'METH_NMU',
 'MORPH_NMU',
 'OXY_NMU',
 'OXYM_NMU',
 'TRAM_NMU',
 'TAP_NMU',
 'COD_NMU',
 'COTC_NMU',
 'HYD_NMU',
 'HYDM_NMU',
 'SUF_NMU',
 'STIM_NMU',
 'BENZ_NMU',
 'THC_NMU',
 'DRSHOP_NMU']

In [55]:
{k: v for k, v in sorted(nmu_dict.items(), key=lambda item: -item[1])}

{'THC_NMU': 0.456,
 'STIM_NMU': 0.3319672131147541,
 'TAP_NMU': 0.3191489361702128,
 'BUP_NMU': 0.28901734104046245,
 'COTC_NMU': 0.25646095184296,
 'OXYM_NMU': 0.2510460251046025,
 'METH_NMU': 0.2409090909090909,
 'COD_NMU': 0.22976980652450218,
 'SUF_NMU': 0.15577889447236182,
 'FENT_NMU': 0.14326647564469913,
 'HYD_NMU': 0.13700384122919335,
 'TRAM_NMU': 0.11866666666666667,
 'OXY_NMU': 0.11805998723675813,
 'HYDM_NMU': 0.10384959713518353,
 'BENZ_NMU': 0.09579918032786885,
 'MORPH_NMU': 0.0662414131501472,
 'DRSHOP_NMU': 0.01299090636554412}

In [61]:
high_nmu_columns = ['THC_NMU', 'STIM_NMU', 'TAP_NMU', 'BUP_NMU', 'COTC_NMU']
high_nmu_columns.append("MENT_AUT")

In [64]:
distr_vals = pd.value_counts(CA_df['MENT_AUT']).to_frame().reset_index()
distr_vals

   index  MENT_AUT
0      0      9886
1      1       121

In [62]:
CA_df[high_nmu_columns]

       THC_NMU  STIM_NMU  TAP_NMU  BUP_NMU  COTC_NMU  MENT_AUT
0          NaN       NaN      NaN      NaN       NaN         0
1          NaN       NaN      NaN      NaN       NaN         0
2          NaN       NaN      NaN      NaN       NaN         0
3          NaN       NaN      NaN      NaN       NaN         0
4          NaN       1.0      NaN      NaN       0.0         0
...        ...       ...      ...      ...       ...       ...
10002      NaN       NaN      NaN      NaN       0.0         0
10003      NaN       NaN      NaN      NaN       0.0         0
10004      NaN       NaN      NaN      NaN       NaN         0
10005      NaN       NaN      NaN      NaN       NaN         0
10006      NaN       0.0      0.0      NaN       0.0         0

[10007 rows x 6 columns]

In [ ]:
g = sns.catplot(x="time", y="pulse", hue="MENT_AUT",data=CA_df, kind="violin")